*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0d1117;
    color:white;
}

.navbar{
    background:#000000c7;
    backdrop-filter:blur(10px);
}

.nav-link{
    color:white !important;
    margin-left:15px;
}

.hero-section{
    min-height:100vh;
    display:flex;
    align-items:center;
    position:relative;

    background:
    linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)),
    url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=2070');

    background-size:cover;
    background-position:center;
}

.hero-title{
    font-size:55px;
    font-weight:700;
}

.hero-subtitle{
    color:#00bfff;
    margin-bottom:20px;
}

.hero-text{
    font-size:18px;
    line-height:1.8;
}

.profile-img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #00bfff;
    box-shadow:0 0 30px #00bfff;
}

.hero-buttons{
    margin-top:30px;
}

.btn-primary{
    background:#00bfff;
    border:none;
}

.btn-primary:hover{
    background:#009acd;
}

.section-padding{
    padding:100px 0;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:40px;
    color:#00bfff;
}

.dark-section{
    background:#111827;
}

.skill-card,
.project-card,
.education-box,
.contact-box{
    background:#1f2937;
    padding:30px;
    border-radius:15px;
    transition:0.4s;
    height:100%;
}

.skill-card:hover,
.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #00bfff;
}

.skill-card i{
    font-size:40px;
    color:#00bfff;
    margin-bottom:20px;
}

.project-card h3{
    color:#00bfff;
    margin-bottom:20px;
}

.project-card ul{
    padding-left:20px;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
}

.about-text{
    text-align:center;
    font-size:18px;
    line-height:1.8;
}

@media(max-width:768px){

.hero-title{
    font-size:40px;
    margin-top:30px;
}

.profile-img{
    width:250px;
    height:250px;
}

}